@using MasterRecipes.Domain.Models
@model IEnumerable<Receita>

<!-- Page Top Recipe Section Begin -->
<section class="page-top-recipe">
    <div class="container">
        <div class="row">
            @{
                int index = 0;
            }
            @foreach (var receita in Model)
            {
                if (index == 0)
                {
                    <div  class="col-lg-6 order-lg-2">
                        <div data-id="@receita.Id" name="recipe-item" class="pt-recipe-item large-item">
                            <div class="pt-recipe-img set-bg" data-setbg="/img/uploaded/@receita.Imagens.FirstOrDefault(e => e.Principal == "S")?.Source">
                                <i class="fa fa-plus"></i>
                            </div>
                            <div class="pt-recipe-text">
                                <span>@receita.DataCadastro</span>
                                <h3>@receita.Titulo</h3>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div  class="col-lg-3 col-md-6 order-lg-1">
                        <div data-id="@receita.Id" name="recipe-item" class="pt-recipe-item">
                            <div class="pt-recipe-img set-bg" data-setbg="/img/uploaded/@receita.Imagens.FirstOrDefault(e => e.Principal == "S")?.Source">
                                <i class="fa fa-plus"></i>
                            </div>
                            <div class="pt-recipe-text">
                                <h4>@receita.Titulo</h4>
                            </div>
                        </div>
                    </div>
                }
                index++;
                if (index == 4)
                    index = 0;
            }
        </div>
    </div>
</section>
<!-- Page Top Recipe Section End -->


<!-- Contact Section End -->
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/receita.js"></script>